version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
  - package-ecosystem: "npm"
    directory: "/packages/core"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/plugins-standard"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/workbench"
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm"
    directory: "/packages/cli"
    schedule:
      interval: "weekly"
